// 通用常量
$background-color-normal: #f7f7f7;
$background-color-active: #f3f3f3;

$green-color: #09bb07;

$navbar: 44px;
$xheader: 46px;
$ios-status-bar: 20px;
$iphonex-status-bar: 24px;
$iphonex-home-indicator: 34px;

@mixin icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

// 清除浮动
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// 文字省略
@mixin ellipsis ($line: 0) {
  @if ($line == 0) {
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
  } @else {
    overflow: hidden;
    display: -webkit-box;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

// 动态路由 router-view base 样式
@mixin page-base {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  position: absolute;
  background-color: $background-color-normal;
}

// 路由 index 样式
@mixin page-index {
  @include page-base;
  .logo {
    width: 96px;
    height: 96px;
    margin: 60px auto 10px;
    position: relative;
    i {
      width: 100%;
      height: 100%;
      @include icon;
      display: block;
      overflow: hidden;
      border-radius: 15px;
      border: 1px solid #c7c7c7;
      pointer-events: none;
    }
  }
  p {
    font-size: 18px;
    line-height: 34px;
    text-align: center;
  }
}

// 导航栏 按钮 primary 样式
@mixin navbar-button-primary {
  color: $green-color;
}

// 导航栏 按钮 disabled 样式
@mixin navbar-button-disabled {
  opacity: .5;
  pointer-events: none;
}